$primary: #0f0230;
$primary-light: #200565;
$primary-dark: #060113;

$secondary: #d53a01;
$secondary-light: #f94604;
$secondary-dark: #a62f03;

$grey: #7e7e7e;
$grey-light: #aaaaaa;
$grey-dark: #616161;
